In [1]:
import pandas as pd

In [115]:
df = pd.read_csv(r'df_final.csv')

C:\Users\belen\AppData\Local\Temp\ipykernel_12292\2715350356.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'df_final.csv')

In [116]:
df['release_date'] = pd.to_datetime(df['release_date'], format='%Y-%m-%d', errors='coerce')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45379 entries, 0 to 45378
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45379 non-null  object
 3   id                     45379 non-null  object
 4   original_language      45368 non-null  object
 5   overview               44438 non-null  object
 6   popularity             45377 non-null  object
 7   production_companies   45379 non-null  object
 8   production_countries   45379 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45379 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  release_year           45379 non-null  int64
 18  return                 45379 non-null  float64
 19  day_of_week            45376 non-null  object
dtypes: datetime64[ns](1), float64(5), int64(1), object(13)
memory usage: 6.9+ MB

funcion 1

In [119]:


# Creamos un diccionario para convertir nombres de meses a números
# meses = {'enero': 1, 'febrero': 2, 'marzo': 3, 'abril': 4, 'mayo': 5, 'junio': 6,
#          'julio': 7, 'agosto': 8, 'septiembre': 9, 'octubre': 10, 'noviembre': 11, 'diciembre': 12}

# Definimos la función peliculas_mes
def peliculas_mes(mes):
    # Creamos un diccionario para convertir nombres de meses a números
    meses = {'enero': 1, 'febrero': 2, 'marzo': 3, 'abril': 4, 'mayo': 5, 'junio': 6,
         'julio': 7, 'agosto': 8, 'septiembre': 9, 'octubre': 10, 'noviembre': 11, 'diciembre': 12}
    # Convertimos el mes a su representación numérica utilizando el diccionario
    mes_num = meses[mes.lower()]
    
    # Filtramos las filas del dataframe por el mes correspondiente
    peliculas_mes = df.loc[df['release_date'].dt.month == mes_num]
    
    # Contamos el número de filas filtradas y devolvemos el resultado como un diccionario
    respuesta = len(peliculas_mes)
    return {'mes': mes, 'cantidad': respuesta}

In [120]:
peliculas_mes('enero')

{'mes': 'enero', 'cantidad': 5912}

funcion 2

In [5]:
def peliculas_dia(dia):
    dias_semana = ['lunes', 'martes', 'miércoles', 'jueves', 'viernes', 'sábado', 'domingo']
    if dia.lower() not in dias_semana:
        return {'dia': dia, 'cantidad': 0}
    else:
        dia_df = df[df['day_of_week'] == dia.lower()]
        cantidad = len(dia_df)
        return {'dia': dia, 'cantidad': cantidad}

In [6]:
peliculas_dia('lunes')

{'dia': 'lunes', 'cantidad': 3503}

Funcion 3

In [124]:
def franquicia(franquicia):
    # Filtrar el DataFrame original para incluir solo filas con información sobre la franquicia
    franquicia_df = df[(df['belongs_to_collection'].notna()) & (df['belongs_to_collection'].str.contains(franquicia))]
    
    # si hay nulos
    if franquicia_df.empty:
        return "No se encontro la franquicia"
    
    # Obtener la cantidad de películas, la ganancia total y la ganancia promedio
    cantidad = franquicia_df.shape[0]
    ganancia_total = franquicia_df['revenue'].sum()
    ganancia_promedio = ganancia_total / cantidad
    
    # Retornar la información en un diccionario
    return {'franquicia': franquicia, 'cantidad': cantidad, 'ganancia_total': ganancia_total, 'ganancia_promedio': ganancia_promedio}

In [126]:
franquicia('Toy Story Collection')

{'franquicia': 'Toy Story Collection',
 'cantidad': 3,
 'ganancia_total': 1937890605.0,
 'ganancia_promedio': 645963535.0}

Funcion 4

In [18]:
def peliculas_pais(pais):
    # Contar el número de películas que se hicieron en el país especificado
    num_peliculas = len(df[df['production_countries'].str.contains(pais)])
    
    # Crear un diccionario que contenga el país y el número de películas
    return {'pais': pais, 'cantidad': num_peliculas}

In [19]:
peliculas_pais('United Kingdom')
# Resultado : {'pais': 'United Kingdom', 'cantidad': 4091}

{'pais': 'United Kingdom', 'cantidad': 4091}

Funcion 5

In [20]:
def productoras(productora):
    df_filtrado = df[df['production_companies'].str.contains(productora, na=False)]
    ganancia_total = df_filtrado['revenue'].sum()
    cantidad = len(df_filtrado)
    return {'productora': productora, 'ganancia_total': ganancia_total, 'cantidad': cantidad}

In [21]:
productoras('Sandollar Productions')
# Respuesta : {'productora': 'Sandollar Productions','ganancia_total': 188244181.0,'cantidad': 11}

{'productora': 'Sandollar Productions',
 'ganancia_total': 188244181.0,
 'cantidad': 11}

Funcion 6

In [127]:
def retorno(pelicula):
    # Filtro la información de la película en base a su título
    pelicula_info = df[df['title'] == pelicula].iloc[0]
    
    # Obtengo la inversión, ganancia, retorno y año de lanzamiento de la película
    inversion = pelicula_info['budget']
    ganancia = pelicula_info['revenue']
    retorno = pelicula_info['return']
    anio = pelicula_info['release_year']
    
    # Retorno la información en un diccionario
    return {'pelicula': pelicula, 'inversion': inversion, 'ganancia': ganancia, 'retorno': retorno, 'anio': anio}

In [128]:
retorno('Toy Story')

{'pelicula': 'Toy Story',
 'inversion': 30000000.0,
 'ganancia': 373554033.0,
 'retorno': 12.4518011,
 'anio': 1995}

-----------------------------------------

In [37]:
#Definimos una función para desanidar los datos de las columnas 'production_companies' y 'producion_countries' dejando solo la data relevante.
import pandas as pd
import re

def extraer_datos(df, columna):
    # Función para extraer los valores de una cadena, lista o diccionario
    def extraer_valores(valor):
        if isinstance(valor, str):
            # Si es una cadena, extraer los valores con la expresión regular
            pattern = r"'name': '([^']*)'"
            coincidencias = re.findall(pattern, valor)
            return coincidencias
        elif isinstance(valor, list):
            # Si es una lista, extraer los valores de cada elemento de la lista
            valores = []
            for elemento in valor:
                if 'name' in elemento:
                    valores.append(elemento['name'])
            return valores
        elif isinstance(valor, dict):
            # Si es un diccionario, extraer los valores de la clave 'name'
            if 'name' in valor:
                return valor['name']
        return None
    
    # Aplicar la función a la columna y sobrescribir la columna
    df[columna] = df[columna].apply(extraer_valores)
    
    return df

In [51]:
extraer_datos(df, 'genres')

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return,day_of_week
0,['Toy Story Collection'],30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801,lunes
1,NaN,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035,viernes
2,['Grumpy Old Men Collection'],0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,0.000000,viernes
3,NaN,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760,viernes
4,['Father of the Bride Collection'],0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,inf,viernes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45374,NaN,0.0,"[Drama, Action, Romance]",30840,en,"Yet another version of the classic epic, with ...",5.683753,"['Westdeutscher Rundfunk (WDR)', 'Working Titl...","['Canada', 'Germany', 'United Kingdom', 'Unite...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,1991,0.000000,lunes
45375,NaN,0.0,[Drama],111109,tl,An artist struggles to finish his work while a...,0.178241,['Sine Olivia'],['Philippines'],2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,2011,0.000000,jueves
45376,NaN,0.0,"[Action, Drama, Thriller]",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,['American World Pictures'],['United States of America'],2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,2003,0.000000,viernes
45377,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,['Yermoliev'],['Russia'],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,1917,0.000000,domingo
45378,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],['United Kingdom'],2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,2017,0.000000,viernes

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Paso 1: Preparar los datos
# Tu dataframe ya está preparado con las transformaciones requeridas

# Tomar una muestra aleatoria
df_sample = df.sample(n=5000, random_state=42)

# Paso 2: Crear una matriz de características
# Seleccionar las columnas que servirán como características
features = ['genres', 'production_companies', 'overview']

# Crear una instancia del CountVectorizer
vectorizer = CountVectorizer()

# Crear la matriz de características
X = vectorizer.fit_transform(df_sample[features].fillna(''))

# Paso 3: Calcular la similitud de coseno
cosine_sim = cosine_similarity(X)

# Paso 4: Seleccionar las películas similares
# Seleccionar una película de referencia (por ejemplo, la película con ID=1)
movie_index = 1

# Obtener las puntuaciones de similitud para la película de referencia
sim_scores = list(enumerate(cosine_sim[movie_index]))

# Ordenar las películas por similitud de mayor a menor
sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

# Paso 5: Filtrar películas
# Obtener los IDs de las 10 películas más similares
movie_indices = [i[0] for i in sim_scores[1:11]]

# Obtener los títulos de las películas más similares
movie_titles = df['title'].iloc[movie_indices]

print(movie_titles)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

Funcion Recomendacion

In [105]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [106]:
df= df.sample(n=1000, random_state=42)

In [112]:
df['features'] = (df['title'].fillna('') + ' ' + df['overview'].fillna('') + ' ' + str(df['genres'].fillna('')))

In [108]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['features'])
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [113]:
def get_recommendations(title, n=5):
    # Obtener el índice de la película que coincide con el título
    #idx = df[df['title'].str.lower() == title.lower()]
    idx = df.index[df['title'].str.lower() == title.lower()].tolist()[0]

    

    
    # Obtener la similitud de la película con todas las demás películas
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Ordenar las películas según su similitud y seleccionar las n más similares
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)[1:n+1]
    
    # Obtener los índices de las películas recomendadas
    movie_indices = [i[0] for i in sim_scores]
    
    # Devolver las películas recomendadas
    return df['title'].iloc[movie_indices]

In [114]:
get_recommendations('Jumanji')

IndexError: list index out of range

import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# Cargar los datos
df = pd.read_csv('movies_metadata.csv', low_memory=False)

# Tomar una muestra aleatoria del DataFrame original
df_sample = df.sample(frac=0.1, random_state=42)

# Limpiar y transformar los datos de la columna 'genres'
df_sample['genres'] = df_sample['genres'].fillna('[]').apply(eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

# Crear una instancia del vectorizador CountVectorizer
count = CountVectorizer(stop_words='english')

# Construir la matriz de conteos
count_matrix = count.fit_transform(df_sample['genres'])

# Calcular la matriz de similitud del coseno
cosine_sim = cosine_similarity(count_matrix, count_matrix)

# Crear un diccionario de títulos de películas y sus índices correspondientes
indices = pd.Series(df_sample.index, index=df_sample['title']).drop_duplicates()

def get_recommendations(title, cosine_sim=cosine_sim, df=df_sample, indices=indices, top_n=10):
    """
    Esta función toma un título de película y devuelve las 'n' películas más similares según su género.
    """
    # Obtener el índice de la película que coincide con el título
    idx = indices[title]

    # Obtener los puntajes de similitud de coseno de la película con todas las demás películas
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Ordenar las películas según sus puntajes de similitud
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Obtener los índices de las 'n' películas más similares
    sim_scores = sim_scores[1:top_n+1]
    movie_indices = [i[0] for i in sim_scores]

    # Devolver las películas más similares
    return df['title'].iloc[movie_indices]

In [59]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [102]:
# Tomar una muestra aleatoria del DataFrame original
df_sample = df.sample(n=1000, random_state=42)

In [103]:
# Limpiar y transformar los datos de la columna 'genres'
df_sample['genres'] = df_sample['genres'].fillna('[]').apply(eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])

TypeError: eval() arg 1 must be a string, bytes or code object

In [ ]:
# Crear una instancia del vectorizador CountVectorizer
count = CountVectorizer(stop_words='english')

In [ ]:
# Construir la matriz de conteos
count_matrix = count.fit_transform(df_sample['genres'])

In [ ]:
# Calcular la matriz de similitud del coseno
cosine_sim = cosine_similarity(count_matrix, count_matrix)

In [ ]:
# Crear un diccionario de títulos de películas y sus índices correspondientes
indices = pd.Series(df_sample.index, index=df_sample['title']).drop_duplicates()

In [ ]:
def get_recommendations(title, cosine_sim=cosine_sim, df=df_sample, indices=indices, top_n=10):
    """
    Esta función toma un título de película y devuelve las 'n' películas más similares según su género.
    """
    # Obtener el índice de la película que coincide con el título
    idx = indices[title]

    # Obtener los puntajes de similitud de coseno de la película con todas las demás películas
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Ordenar las películas según sus puntajes de similitud
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Obtener los índices de las 'n' películas más similares
    sim_scores = sim_scores[1:top_n+1]
    movie_indices = [i[0] for i in sim_scores]

    # Devolver las películas más similares
    return df['title'].iloc[movie_indices]